{% extends "boilerplate.html" %}
{% import "macros.html" as macros %}

{% block yepnope_load %}
    {% block base_load %}
    {% endblock base_load %}
{% endblock yepnope_load %}

{% block yepnope_callback %}
    {% block base_callback %}
    {% endblock base_callback %}
{% endblock yepnope_callback %}

{% block yepnope_complete%}
    {% block base_complete %}
    {% endblock base_complete %}
{% endblock yepnope_complete%}

{% block boilerplate_project_name %}
    {{ title }}
{% endblock boilerplate_project_name %}

{% block boilerplate_navbar %}
    {% for key, value in navbar %}
        {% if key is equalto( "" ) %}
            {% for data in value %}
                {% set page_link = url_for( "page", page_path = data.path ) %}
                {{ macros.menu_link_item( data.title, page_link ) }}
            {% endfor %}
        {% elif value|length is compute( ">", 1 ) %} 
            {% call macros.menu_dropdown( key ) %}
                {% for data in value %}
                    {% set page_link = url_for( "page", page_path = data.path ) %}
                    {{ macros.menu_link_item( data.title, page_link ) }}
                {% endfor %}
            {% endcall %}
        {% endif %} 
    {% endfor %}
{% endblock boilerplate_navbar %}

{% block boilerplate_form %}
{% endblock boilerplate_form %}

{% block boilerplate_hero_unit %}
    <h1>
       Awwww yeaaaa! 
    </h1>
    <p>
        This is all simple template stuff in here!
        I can just put anything and it comes up in bootstrap the hero unit.
    </p>                        
{% endblock boilerplate_hero_unit %}

{% block boilerplate_row %}
    {% call macros.row_span( "Heading 1", "Home", "#" ) %}
        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    {% endcall %}
    {% call macros.row_span( "Heading 2", "Home", "#" ) %}
        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    {% endcall %}
    {% call macros.row_span( "Heading 3", "Home", "#" ) %}
        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    {% endcall %}
{% endblock boilerplate_row %}

{% block boilerplate_footer %}
    <p>
        &copy; {{ title }} Company 2013
    </p>
    <p>
        This website was last statically updated: {{ date }} at {{ time }}.
    </p>
{% endblock boilerplate_footer %}

{% block boilerplate_google %}
    {{ google_analytics }}
{% endblock boilerplate_google %}
